<div class="content">

  <div >
    <form>
      <fieldset>
        <table>
          <tr>
            <td>
              <label>Title</label>
            </td>
            <td>
              <input type="text" />
            </td>
          </tr>
          <tr>
            <td>
              <label>Notes</label>
            </td>
            <td>
              <textarea type="text"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <label>Calories burnt per min</label>
            </td>
            <td>
              <input type="number">
            </td>
          </tr>
          <tr>
            <td>
              <label>Category</label>
            </td>
            <td>
              <select>
                <option>Select Category</option>
              </select>
              <input type="button" value="+"/>
            </td>
          </tr>
        </table>



      </fieldset>
      <input type="submit" value="Submit" />
    </form>
  </div>
</div>