
<div class="content">

    <div >
      <form>
        <fieldset>
          <table>
            <tr><td colspan="3">
              <input type="text" placeholder="Search">
            </td></tr>
            
            <tr><td colspan="2">
                <input type="text">
              </td>
            <td>
              <input type="button" value="+">
            </td></tr>
            <tr>
              <td>
                <label>Jogging</label>
              </td>
              <td>
                <input type="button" value="Edit" />
              </td>
              <td>
                  <input type="button" value="Delete" />
                </td>
            </tr>
            
          </table>
  
  
  
        </fieldset>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>