<div class="container">


    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/workout">View All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    <ul class="nav nav-tabs">
        <li class="nav-item">
           
        </li>
        <li class="nav-item">
            <a  routerLink="/addworkout">Create</a>
        </li>
        <li class="nav-item">
            <a  routerLink="/workout">Category</a>
        </li>
        <li class="nav-item">
            <a  routerLink="/track">Track</a>
        </li>
      </ul>


</div>

<div>

  <router-outlet></router-outlet>
</div>
