<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Workout Tracker
  </h1>
  </div>
  <div class="content">
    <!-- <ul class="nav nav-bar" role="tablist">
       
        <li class="active"><a routerLink="/workout">View All</a></li>
        <li><a  routerLink="/addworkout">Create</a></li>
        <li><a  routerLink="/addcategory">Category</a></li>
        <li><a  routerLink="/trackworkout">Track</a></li>        
      </ul> -->
       <a routerLink="/workout">View All</a>&nbsp;
      <a  routerLink="/addworkout">Create</a>&nbsp;
      <a  routerLink="/addcategory">Category</a>&nbsp;
      <a  routerLink="/trackworkout">Track</a>&nbsp; 
   

</div>

<div>

  <router-outlet></router-outlet>
</div>
