<p>Start Workout</p>
<div class="content">

    <div >
      <form>
        <fieldset>
          <table>
            <tr>
              <td>
                <label>Title</label>
              </td>
              <td>
                <input type="text" />
              </td>
            </tr>
            <tr>
              <td>
                <label>Comment</label>
              </td>
              <td>
                <textarea type="text"></textarea>
              </td>
            </tr>
            <tr>
              <td>
                <label>Start Date</label>
              </td>
              <td>
                <input type="date">
              </td>
            </tr>
            <tr>
              <td>
                <label>Start Time</label>
              </td>
              <td>
                  <input type="time">
                </td>
            </tr>
          </table>
  
  
  
        </fieldset>
        <input type="submit" value="Start" />
        
        <input type="submit" value="Cancel" />
      </form>
    </div>
  </div>